.load {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.banner-img {
    width: 100%;
    height: 83vh;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  
}
.cont {
    position: relative;
}
.img-txt {
position: absolute;
width: auto;
bottom: 10px;
padding: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: maroon;
background-color: gray;
}